meteo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"> 
    
    <xs:element name="meteo">
        <xs:complexType>
         <xs:sequence>
              <xs:element name="mesure" maxOccurs="unbounded" type="type_mesure"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
        <xs:complexType name="type_mesure">
          <xs:sequence>
             <xs:element name="ville" maxOccurs="unbounded" type="type_ville"></xs:element>
          </xs:sequence>
        
          <xs:attribute name="date" type="xs:date" use="required"></xs:attribute>
        </xs:complexType>
    
        <xs:complexType name="type_ville">
            <xs:attribute name="nom" type="xs:string" use="required"></xs:attribute>
            <xs:attribute name="temperature" type="xs:double" use="required"></xs:attribute>
        </xs:complexType>
</xs:schema>
